<div class="account-wrapper">

    <!-- Header -->
    <div class="header">
        <app-navigation-bar></app-navigation-bar>
    </div>

    <!-- tools-sidebar -->
    <div class="sidebar tools-sidebar p-2 d-none">

       
            <div>1sdsd</div>
            <div>2sdsd</div>
            <div>3sdsd</div>
            <div>4sdsd</div>
            <div>sdsd</div>
            <div>sdsd</div>



    </div>




    <!-- friends Bar Wrapper -->
    <div class="sidebar friends-sidebar">
        <div class="content"></div>
    </div>
    <!-- Content Wrapper -->
    <div class="">
        <div class="d-flex">
            <div style="width: calc((100vw - 800px)/2);"></div>
            <div style="width: 800px;">
                <div style="width: 100%; height: 200px; background-color: rgba(255, 255, 255, 0.7);; margin-top: 10px;">
                </div>
                <div style="width: 100%; height: 200px; background-color: rgba(255, 255, 255, 0.7);; margin-top: 10px;">
                </div>
                <div style="width: 100%; height: 200px; background-color: rgba(255, 255, 255, 0.7);; margin-top: 10px;">
                </div>
                <div style="width: 100%; height: 200px; background-color: rgba(255, 255, 255, 0.7);; margin-top: 10px;">
                </div>
                <div style="width: 100%; height: 200px; background-color: rgba(255, 255, 255, 0.7);; margin-top: 10px;">
                </div>

            </div>
            <div style="width: calc((100vw - 800px)/2);"></div>
        </div>
    </div>




    <!-- friends Bar Wrapper -->


    <!-- Footer Wrapper -->





</div>