<div class="account-wrapper">

    <!-- Header Wrapper-->
    <div class="header">
        <app-navigation-bar></app-navigation-bar>
    </div>

    <!-- tools-sidebar Wrapper -->
    <div class="tools-sidebar">
        <div class="content"></div>
    </div>




    <!-- friends Bar Wrapper -->
    <div class="friends-sidebar">
        <div class="content" ></div>
    </div>
    <!-- Content Wrapper -->
    <div class="">
        <div class="d-flex">
            <div style="width: calc((100vw - 800px)/2);"></div>
            <div style="width: 800px;">
                <div style="width: 100%; height: 200px; background-color: hotpink; margin-top: 10px;"></div>
                <div style="width: 100%; height: 200px; background-color: hotpink; margin-top: 10px;"></div>
                <div style="width: 100%; height: 200px; background-color: hotpink; margin-top: 10px;"></div>
                <div style="width: 100%; height: 200px; background-color: hotpink; margin-top: 10px;"></div>
                
            </div>
            <div style="width: calc((100vw - 800px)/2);"></div>
        </div>
    </div>
    



    <!-- friends Bar Wrapper -->


    <!-- Footer Wrapper -->





</div>