<div class="account-wrapper">
    <app-navigation-bar></app-navigation-bar>
    <p style="height: 500px; width: 800px; background-color: rgba(255, 255, 255, 0.7); margin: 10px auto;">home works!</p>
    <p style="height: 500px; width: 800px; background-color: rgba(255, 255, 255, 0.7); margin: 10px auto;">home works!</p>
    <p style="height: 500px; width: 800px; background-color: rgba(255, 255, 255, 0.7); margin: 10px auto;">home works!</p>
    <p style="height: 500px; width: 800px; background-color: rgba(255, 255, 255, 0.7); margin: 10px auto;">home works!</p>
    <p style="height: 500px; width: 800px; background-color: rgba(255, 255, 255, 0.7); margin: 10px auto;">home works!</p>
    <p style="height: 500px; width: 800px; background-color: rgba(255, 255, 255, 0.7); margin: 10px auto;">home works!</p>


</div>