<nav class="navbar-dark d-flex p-1">

    <!-- Brand Section -->


    <div class="d-flex">
        <div style="width: calc((100vw - 800px)/2);">
            <a class="navbar-brand" href="#">Navbar</a>
        </div>

        <div style="width: 800px;">
            fdfdf
        </div>
        <div style="width: calc((100vw - 800px)/2);">
            <a class="navbar-brand" href="#">Navbar</a>
        </div>

    </div>

    <!-- 
    <div class="w-25">
        <a class="navbar-brand p-0" href="#">OverPaw</a>

    </div>

    <div class="w-50">fdfd</div>
    <div class="w-25">fdfd</div> -->



    <!-- 

    <a class="navbar-brand" href="#">Navbar</a> -->

    <!-- 
    <div class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
        aria-expanded="false" aria-label="Toggle navigation">


        dsdsdsdsdssdsdsd
    </div>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div> -->

</nav>


<!-- <nav class="d-none d-lg-block navbar navbar-expand-lg fixed-bttom navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>

    <div class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
        aria-expanded="false" aria-label="Toggle navigation">


        dsdsdsdsdssdsdsd
    </div>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

</nav> -->