<div class="container">
    <div class="row p-2">
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 card" style="background-color: rgba(255, 255, 255, 0.7); ">
            <div class="mt-4 text-center">
                <h1>
                    <img style="height: 40px; margin: inherit;" src="./../../assets/resources/logo.png" alt="">
                    OverPaw
                </h1>
            </div>
            <hr>
            <h6 class="mb-2">Create Account</h6>
            <form [formGroup]="registerForm" (submit)="onSubmitRegisterForm()">

                <div class="form-group">
                    <span>First Name*</span>
                    <input class="form-control" type="text" placeholder="Enter your first name"
                        formControlName="firstName" [ngClass]="addValidationClass(registerForm.controls.firstName)">
                        <div class="invalid-feedback" *ngIf="isInvalidAndTouched(registerForm.controls.firstName)">Sorry, that username's taken. Try another?</div>
                </div>



                <!-- has-danger -->

                <div class="form-group">
                    <span>Family Name*</span>
                    <input class="form-control" type="text" placeholder="Enter your family name"
                        formControlName="familyName">
                </div>

                <div class="form-group ">
                    <div>Email</div>
                    <input placeholder="myemail@email.com" type="text" value="correct value" class="form-control"
                        formControlName="password">

                </div>

                <div class="form-group has-success has-danger">
                    <label class="form-control-label" for="inputDanger1">Invalid input</label>
                    <input type="text" value="wrong value" class="form-control is-invalid" id="inputInvalid">

                </div>


                <div class="form-group">
                    <span>Username</span>
                    <input class="form-control" type="email" placeholder="Enter username" formControlName="email">
                </div>

                <div class="form-group">
                    <span>Password</span>
                    <input class="form-control" type="email" placeholder="Enter password " formControlName="email">
                </div>

                <div class="form-group">
                    <span>Confirm password</span>
                    <input class="form-control" type="email" placeholder="Pleace confirm your password"
                        formControlName="email">
                </div>




                <p class="text-danger" *ngIf="isInvalidLoginData">Invalid email or password.</p>

                <button type="submit" class="btn btn-primary w-100 mt-2 mb-2" [disabled]="registerForm.invalid">Create
                    Account</button>

                <hr>

                <div class="d-flex justify-content-between mb-4">
                    <div class="btn btn-link p-0" (click)="navigateToLogin()">Back To Login</div>
                </div>

            </form>
        </div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-4"></div>
    </div>
</div>